/*
* parallax
* note:  container 100% height and section 100vh
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
html, body {
  background-color: black;
  color:  white;
}

.container-fluid .main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  color:  white;
}

.container-fluid section {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color:  white;
}

.container-fluid section:nth-child(1) .image {
  background-image: url("/assets/img/ales.jpg");
}
.container-fluid section:nth-child(2) .image {
  background-image: url("/assets/img/jay.jpg");
}
.container-fluid section:nth-child(3) .image {
  background-image: url("/assets/img/martha.jpg");
}
.container-fluid section:nth-child(4) .image {
  background-image: url("/assets/img/aldino.jpg");
}

.container-fluid section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 500;
  opacity: 0.4;
  color:  white;
}
.container-fluid section .stuff {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  max-width: 70%;
  text-align: left;
  z-index: 1000;
  margin: 0 auto;
  position: relative;
  color:  white;
}

/*
* NAV
*/
