/*
* parallax
* note:  container 100% height and section 100vh
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
html, body {
  background-color: black;
  color:  white;
}

.container-fluid {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  color:  white;
}

.container-fluid section {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color:  white;
}

.container-fluid section:nth-child(1) .image {
  background-image: url("/assets/img/ales.jpg");
}
.container-fluid section:nth-child(2) .image {
  background-image: url("/assets/img/jay.jpg");
}
.container-fluid section:nth-child(3) .image {
  background-image: url("/assets/img/martha.jpg");
}
.container-fluid section:nth-child(4) .image {
  background-image: url("/assets/img/aldino.jpg");
}

.container-fluid section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 500;
  opacity: 0.4;
  color:  white;
}
.container-fluid section .stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
  font-size: 26px;
  position: relative;
  color:  white;
}
.container-fluid section .stuff h2 {
  margin: 0px;
}

/*
* NAV
*/

.bound {
  height : 20vh;
}

nav {
  color: white;
  background-color: black;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
/* NAVBAR STYLING STARTS */
.nav-links a {
 color: #fff;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}