/*
* parallax
* note:  container 100% height and section 100vh
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
html, body {
  background-color: black;
  color:  white;
}

.container-fluid {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  color:  white;
}

.container-fluid section {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color:  white;
}
.container-fluid section:nth-child(1) .image {
  background-image: url(https://images.unsplash.com/photo-1463412855783-af97e375664b?iq=100&fm=jpg&w=1000);
}
.container-fluid section:nth-child(2) .image {
  background-image: url(https://images.unsplash.com/photo-1462819067004-905a72ea3996?iq=100&fm=jpg&w=1000);
}
.container-fluid section:nth-child(3) .image {
  background-image: url(https://images.unsplash.com/photo-1461770354136-8f58567b617a?iq=100&fm=jpg&w=1000);
}
.container-fluid section:nth-child(4) .image {
  background-image: url(https://images.unsplash.com/photo-1461080639469-66d73688fb21?iq=100&fm=jpg&w=1000);
}
.container-fluid section:nth-child(5) .image {
  background-image: url(https://images.unsplash.com/photo-1460804198264-011ca89eaa43?iq=100&fm=jpg&w=1000);
}
.container-fluid section:nth-child(6) .image {
  background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);
}
.container-fluid section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 500;
  opacity: 0.4;
  color:  white;
}
.container-fluid section .stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
  font-size: 26px;
  position: relative;
  color:  white;
}
.container-fluid section .stuff h2 {
  margin: 0px;
}
/*
* NAV 1.2
*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 0 0 5px white;
  mask-image: linear-gradient(black 70%, transparent);
  -webkit-mask-image: linear-gradient(black 70%, transparent);
}
nav.is-hidden {
  transform: translateY(-100%);
}

a {
   color: inherit;
   text-decoration: none;
}
 a:hover, a:focus {
   text-decoration: underline;
}
