<ul>
{% for post in postslist | reverse %}
  <li>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time  class="text-secondary pl-5" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <!--tags-->
      <span class="pl-5">
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
      </span>
  </li>
{% endfor %}
</ul>
