---
layout: layouts/home.njk
description: a tip of an iceberg
date: Last Modified
---


      <h2 id="intro" title="intro">intro</h2>
      <p>Hi, my name is Izak. I am a math undergraduate with some experience in programming & tutoring.</p>
      <p>I am broadly interested in Homotopy, Types, & Topoi. But, at the end of the day, <blockquote>'what makes the desert beautiful,' said the little prince, 'is that somewhere it hides a well'</blockquote>which is my cryptic (& perhaps starry-eyed) way of saying, math is difficult in different ways for everyone. It is work. But, we can hope that each person holds some unique <em>well</em> for which the rigors of math have some beauty.</em></p>
      {# <p>In Stayton, Oregon, I grew up with plenty of grass fields & forests. It is beautiful. But, more importantly, I grew up with many supportive, genuine people.</p>
      
      <p>Reading & learning occupy my efforts & my imagination more than I could wish for. It is even better when I can share these things.</p> #}
      <p>Ok, enough soap boax for today: there's info about how I've made this site &mdash; alongside more nonsense like this "intro" &mdash; all on the <a href="/about/">about</a> page, including some mysterious links.</p>
      <h2 id="work" title="projects">projects</h2>
      <p>I keep some projects on a Google Site for flexibility. You can view it here: 
        <a title="projects" href="https://sites.google.com/view/ischmidls/home">projects</a>.
        </p>
      {#<h2 id="contact" title="contact">contact</h2>
       <p>You can find me on 
        <a title="github" target="_blank" href="https://github.com/ischmidls">Github</a>. 
        I am also on 
        <a target="_blank" title="linkedin" href="https://www.linkedin.com/in/izak-schmidlkofer-149776224/">Linkedin</a>.</p> #}
        <div id="posts">
          <h2>posts</h2>
          {% set postslist = collections.posts %}
          {% include "postslist.njk" %}
        </div>



